@{
    ViewBag.Title = "Оборудование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Оборудование -> Просмотр записей</h3>
    @{
        if ((System.Web.HttpContext.Current.Session["CurrentUser"] as Information_System_MVC.Models.ConnectedWorker).Power == 2)
        {
            <form action="/Equipment/Create">
                <input type="submit" value="Добавить запись" />
            </form>
        }
    }

    <table>
        <tr>
            <td><p>Код оборудования</p></td>
            <td><p>Название</p></td>
            <td><p>Количество</p></td>
            <td><p>Код профессии</p></td>
        </tr>
        @foreach (var item in ViewBag.Equipments)
        {
            <tr>
                <td>
                    <input id="Id" name="Id" value=" @item.Id" readonly />
                </td>
                <td>
                    <input id="Name" name="Name" value=" @item.Name" readonly />
                </td>
                <td>
                    <input id="Quantity" name="Quantity" value=" @item.Quantity" readonly />
                </td>
                <td>
                    <input id="ProfessionsId" name="ProfessionId" value=" @item.ProfessionId" readonly />
                </td>
                @{
                    if ((System.Web.HttpContext.Current.Session["CurrentUser"] as Information_System_MVC.Models.ConnectedWorker).Power == 2)
                    {
                        <td>
                            <a href="/Equipment/Edit/@item.Id">
                                Изменить
                            </a>
                        </td>
                    }
                }
                @*<td>
                    <a href="/Equipment/Details/@item.Id">
                        Подробно
                    </a>
                </td>*@
                @{
                    if ((System.Web.HttpContext.Current.Session["CurrentUser"] as Information_System_MVC.Models.ConnectedWorker).Power == 2)
                    {
                        <td>
                            <a href="/Equipment/Delete/@item.Id">
                                Удалить
                            </a>
                        </td>
                    }
                }
            </tr>
        }
    </table>
</div>

