@model Information_System_MVC.Models.Profession
@{
    ViewBag.Title = "Contact";
}
@foreach (var item in ViewBag.Professions)
{
    <p>
        @item.Id
    </p>
    <p>
        @item.Name
    </p>
}

