@{
    ViewBag.Title = "Главная страница";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <container>
        <row>
            <p> <h2>Новости</h2></p>
        </row>
        <row>
            <p><h2>Обзор системы</h2></p>
            <iframe width="420" height="345"
                    src="https://www.youtube.com/embed/lHCFLfI-BZQ">
            </iframe>
        </row>
        <row>
            <p><h2>Поддержка</h2></p>
        </row>
    </container>
</body>
