@{
    ViewBag.Title = "Главная страница";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <container>
        <row>
            <h3>Новости</h3>
        </row>
        <row>
            <h3>Обзор системы</h3>
            <iframe width="420" height="345"
                    src="https://www.youtube.com/embed/lHCFLfI-BZQ">
            </iframe>
        </row>
        <row>
            <h3>Поддержка</h3>
        </row>
    </container>
</body>
