@model Information_System_MVC.Models.Building
@{
    ViewBag.Title = "Здания на территории";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Здания на территории -> Добавление записи</h3>
    @using (Html.BeginForm("Create", "Building", FormMethod.Post))
    {
        <fieldset>
            <label>Количество комнат</label>
            <input id="RoomCount" name="RoomCount" type="number" min="1" value="1" />
            @Html.ValidationMessageFor(model => model.RoomCount)
            <br /> <br />
            <input type="submit" value="Добавить" />
        </fieldset>
    }
</div>