@model Information_System_MVC.Models.Building
@{
    ViewBag.Title = "Здания на территории";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Здания на территории -> Редактирование записи</h3>
    @using (Html.BeginForm("Edit", "Building", FormMethod.Post))
    {
        <fieldset>
            <p>Код здания</p>
            <input id="Id" name="Id" value="@Model.Id" readonly />
            @Html.ValidationMessageFor(model => model.Id)
            <p>Количество комнат</p>
            <input id="RoomCount" name="RoomCount" value="@Model.RoomCount" />
            @Html.ValidationMessageFor(model => model.RoomCount)
            <br /> <br />
            <input type="submit" value="Изменить" />
        </fieldset>
    }
</div>