@{
    ViewBag.Title = "Здания на территории";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Здания на территории -> Просмотр всех записей</h3>
    <form action="/Building/Create">
        <input type="submit" value="Добавить запись" />
    </form>

    <table>
        <tr>
            <td><p>Код здания</p></td>
            <td><p>Количество номеров</p></td>
        </tr>
        @foreach (var item in ViewBag.Buildings)
        {
            <tr>
                <td>
                    <input id="RoomCount" name="RoomCount" value=" @item.Id" readonly />
                </td>
                <td>
                    <input id="RoomCount" name="RoomCount" value=" @item.RoomCount" readonly />
                </td>
                <td>
                    <a href="/Building/Edit/@item.Id">Изменить</a>
                </td>
                <td>
                    <a href="/Building/Details/@item.Id">Подробно</a>
                </td>
                <td>
                    <a href="/Building/Delete/@item.Id">Удалить</a>
                </td>
            </tr>
            <br />
        }
    </table>
</div>

