@{
    ViewBag.Title = "Здания на территории";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Здания на территории -> Просмотр записей</h3>
    @{
        if ((System.Web.HttpContext.Current.Session["CurrentUser"] as Information_System_MVC.Models.ConnectedWorker).Power == 2)
        {
            <form action="/Building/Create">
                <input type="submit" value="Добавить запись" />
            </form>
        }
    }


    <table>
        <tr>
            <td><p>Код здания</p></td>
            <td><p>Количество номеров</p></td>
        </tr>
        @foreach (var item in ViewBag.Buildings)
        {
            <tr>
                <td>
                    <input id="RoomCount" name="RoomCount" value=" @item.Id" readonly />
                </td>
                <td>
                    <input id="RoomCount" name="RoomCount" value=" @item.RoomCount" readonly />
                </td>
                @{
                    if ((System.Web.HttpContext.Current.Session["CurrentUser"] as Information_System_MVC.Models.ConnectedWorker).Power == 2)
                    {

                        <td>
                            <a href="/Building/Edit/@item.Id">Изменить</a>
                        </td>
                    }
                }
                @{
                    if ((System.Web.HttpContext.Current.Session["CurrentUser"] as Information_System_MVC.Models.ConnectedWorker).Power == 2)
                    {

                        <td>
                            <a href="/Building/Delete/@item.Id">Удалить</a>
                        </td>
                    }
                }
            </tr>
        }
    </table>
</div>

