@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <hgroup>
        <h2>Не удалось войти в систему! Введены неправильные данные.</h2>
        <a href="/Login/Enter">
            <h3>Перейти на форму входа в систему</h3>
        </a>
    </hgroup>
</body>
</html>
