@model Information_System_MVC.Models.Profession
@{
    ViewBag.Title = "Профессии";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Профессии -> Добавление записи</h3>
    @using (Html.BeginForm("Create", "Profession", FormMethod.Post))
    {
        <fieldset>
            <p>Название</p>
            <input id="Name" name="Name" value="" />
            @Html.ValidationMessageFor(model => model.Name)

            <br />
            <p>Уровень прав в системе</p>
            <input id="Power" name="Power" value="" />
            @Html.ValidationMessageFor(model => model.Power)
            <br /><br />
            <input type="submit" value="Добавить" />
        </fieldset>
    }
</div>