@model Information_System_MVC.Models.Profession
@{
    ViewBag.Title = "Профессии";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Профессии -> Добавление записи</h3>
    <fieldset>
        @using (Html.BeginForm("Create", "Profession", FormMethod.Post))
        {
            <p>Название</p>
            <input id="Name" name="Name" value="" />
            @Html.ValidationMessageFor(model => model.Name)

            <br />
            <p>Права в системе</p>
            <select id="Power" name="Power" value="0">
                <option value="0">Минимальные</option>
                <option value="1">Ограниченные</option>
                <option value="2">Полные</option>
            </select>
            @Html.ValidationMessageFor(model => model.Power)
            <br /><br />
            <input type="submit" value="Добавить" />
        }
        <p>
            <form action="/Profession/Index">
                <input type="submit" value="Назад" />
            </form>
        </p>
    </fieldset>
</div>