@{
    ViewBag.Title = "Рабочие места";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Рабочие места -> Просмотр всех записей</h3>
    @{
        if ((System.Web.HttpContext.Current.Session["CurrentUser"] as Information_System_MVC.Models.ConnectedWorker).Power == 2)
        {
            <form action="/WorkPlace/Create">
                <input type="submit" value="Добавить запись" />
            </form>
        }
    }

    <table>
        <tr>
            <td><p>Код записи</p></td>
            <td><p>Код места</p></td>
            <td><p>Код здания</p></td>
        </tr>
        @foreach (var item in ViewBag.WorkPlaces)
        {
            <tr>
                <td>
                    <input id="Id" name="Id" value=" @item.Id" readonly />
                </td>
                <td>
                    <input id="PlaceId" name="PlaceId" value=" @item.PlaceId" readonly />
                </td>
                <td>
                    <input id="BuildingId" name="BuildingId" value=" @item.BuildingId" readonly />
                </td>
                @{
                    if ((System.Web.HttpContext.Current.Session["CurrentUser"] as Information_System_MVC.Models.ConnectedWorker).Power == 2)
                    {
                        <td>
                            <a href="/WorkPlace/Delete/@item.Id">
                                Удалить
                            </a>
                        </td>
                    }
                }
            </tr>
            <br />
        }
    </table>
</div>

