<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="/Content/Site.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            font-family: Calibri, Helvetica, sans-serif;
        }

        .navbar {
            overflow: hidden;
            background-color: #333;
        }

            .navbar a {
                float: left;
                font-size: 16px;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

        .dropdown {
            float: left;
            overflow: hidden;
        }

            .dropdown .dropbtn {
                font-size: 16px;
                border: inherit;
                outline: none;
                color: white;
                padding: 14px 16px;
                background-color: inherit;
                font-family: inherit;
                margin: 0;
            }

            .navbar a:hover, .dropdown:hover .dropbtn {
                background-color: lightseagreen;
            }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,100,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                float: none;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
            }

                .dropdown-content a:hover {
                    background-color: grey;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
    <meta charset="utf-8">
    <title>border</title>
    <style>
        .brd {
            width: 570px;
            height: 20px;
            margin: auto;
            width: 50%;
            border: 0px solid black;
            padding: 0px;
            border: 0px solid rgb(0, 0, 0, 0);
            background: #ffffff;
            padding: 0px 5px;
        }
    </style>
    <style>
        .inactiveLink {
            pointer-events: none;
            cursor: default;
        }
    </style>
</head>
<body>
    <div id="container">
        <div class="brd">
            <a href="/Home/Index">
                <h3 font-style="Canvas">
                    Информационная система для управления туристическим комплексом
                </h3>
            </a>
        </div>
    </div>
    <div>
        <br />
        @{
            if ((Object)System.Web.HttpContext.Current.Session["CurrentUser"] is Information_System_MVC.Models.Tourist)
            {
                <div class="navbar">
                    <div class="dropdown">
                        <button class="dropbtn">
                            Товары
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="/Product/Index">Каталог товаров</a>
                            <a href="/Order/Index">История покупок</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">
                            Мероприятия
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="/Event/Index">Каталог мероприятий</a>
                            <a href="/BookedTickets/Index">Забронированные билеты</a>
                        </div>
                    </div>
                    <a href="/Search/Index">Поиск</a>
                    <a href="/Home/PersonalData/">Личный кабинет</a>
                    <a style="pointer-events: none; cursor: default;"></a>
                    <a style="pointer-events: none; cursor: default;"></a>
                    <a style="pointer-events: none; cursor: default;"></a>
                    <a style="pointer-events: none; cursor: default;"></a>
                    <a style="pointer-events: none; cursor: default;"></a>
                    <a style="pointer-events: none; cursor: default;"></a>
                    <a style="pointer-events: none; cursor: default;"></a>
                    <a style="pointer-events: none; cursor: default;"></a>
                    <a style="pointer-events: none; cursor: default;"></a>
                    <a style="pointer-events: none; cursor: default;"></a>
                    <a style="pointer-events: none; cursor: default;"></a>
                    <a style="pointer-events: none; cursor: default;"></a>
                    <a style="pointer-events: none; cursor: default;"></a>
                    <a style="pointer-events: none; cursor: default;"></a>
                    <a style="pointer-events: none; cursor: default;"></a>
                    <a style="pointer-events: none; cursor: default;"></a>
                    <a style="pointer-events: none; cursor: default;"></a>
                    <a style="pointer-events: none; cursor: default;">Вы вошли как : <input value="    Турист" readonly /></a>
                </div>
            }
            if ((Object)System.Web.HttpContext.Current.Session["CurrentUser"] is Information_System_MVC.Models.ConnectedWorker)
            {
                if (((Object)System.Web.HttpContext.Current.Session["CurrentUser"] as Information_System_MVC.Models.ConnectedWorker).Power == 2)
                {
                    <div class="navbar">
                        <div class="dropdown">
                            <button class="dropbtn">
                                Территория комплекса
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content">
                                <a href="/Building/Index">Здания на территории</a>
                                <a href="/Room/Index">Номера</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">
                                Работники
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content">
                                <a href="/Worker/Index">Список всех работников</a>
                                <a href="/WorkPlace/Index">Рабочие места</a>
                                <a href="/Profession/Index">Профессии</a>
                                <a href="/Equipment/Index">Оборудование</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">
                                Туристы
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content">
                                <a href="/Tourist/Index">Список всех туристов</a>
                                <a href="/Order/Index">Заказы</a>
                                <a href="/BookedTickets/Index">Забронированные билеты</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">
                                Магазин
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content">
                                <a href="/Product/Index">Продукты</a>
                                <a href="/Event/Index">Мероприятия</a>
                            </div>
                        </div>
                        <a href="/Search/Index">Поиск</a>
                        <a href="/Home/PersonalData/">Личный кабинет</a>
                        <a style="pointer-events: none; cursor: default;"></a>
                        <a style="pointer-events: none; cursor: default;"></a>
                        <a style="pointer-events: none; cursor: default;"></a>
                        <a style="pointer-events: none; cursor: default;"></a>
                        <a style="pointer-events: none; cursor: default;">Вы вошли как : <input value="    Администратор" readonly /></a>
                    </div>
                }
                if (((Object)System.Web.HttpContext.Current.Session["CurrentUser"] as Information_System_MVC.Models.ConnectedWorker).Power == 1)
                {
                    <div class="navbar">
                        <div class="dropdown">
                            <button class="dropbtn">
                                Территория комплекса
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content">
                                <a href="/Building/Index">Здания на территории</a>
                                <a href="/Room/Index">Номера</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">
                                Туристы
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content">
                                <a href="/Tourist/Index">Список всех туристов</a>
                                <a href="/Order/Index">Заказы</a>
                                <a href="/BookedTickets/Index">Забронированные билеты</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">
                                Магазин
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content">
                                <a href="/Product/Index">Продукты</a>
                                <a href="/Event/Index">Мероприятия</a>
                            </div>
                        </div>
                        <a href="/Search/Index">Поиск</a>
                        <a href="/Home/PersonalData/">Личный кабинет</a>
                        <a style="pointer-events: none; cursor: default;"></a>
                        <a style="pointer-events: none; cursor: default;"></a>
                        <a style="pointer-events: none; cursor: default;"></a>
                        <a style="pointer-events: none; cursor: default;"></a>
                        <a style="pointer-events: none; cursor: default;"></a>
                        <a style="pointer-events: none; cursor: default;"></a>
                        <a style="pointer-events: none; cursor: default;"></a>
                        <a style="pointer-events: none; cursor: default;"></a>
                        <a style="pointer-events: none; cursor: default;"></a>
                        <a style="pointer-events: none; cursor: default;"></a>
                        <a style="pointer-events: none; cursor: default;"></a>
                        <a style="pointer-events: none; cursor: default;">Вы вошли как : <input value="    Менеджер" readonly /></a>
                    </div>
                }
                if (((Object)System.Web.HttpContext.Current.Session["CurrentUser"] as Information_System_MVC.Models.ConnectedWorker).Power == 0)
                {
                    <div class="navbar">
                        <div class="dropdown">
                            <button class="dropbtn">
                                Территория комплекса
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content">
                                <a href="/Building/Index">Здания на территории</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">
                                Работники
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content">
                                <a href="/WorkPlace/Index">Рабочие места</a>
                                <a href="/Profession/Index">Профессии</a>
                                <a href="/Equipment/Index">Оборудование</a>
                            </div>
                        </div>
                        <a href="/Search/Index">Поиск</a>
                        <a href="/Home/PersonalData/">Личный кабинет</a>
                        <a style="pointer-events: none; cursor: default;"></a>
                        <a style="pointer-events: none; cursor: default;"></a>
                        <a style="pointer-events: none; cursor: default;"></a>
                        <a style="pointer-events: none; cursor: default;"></a>
                        <a style="pointer-events: none; cursor: default;"></a>
                        <a style="pointer-events: none; cursor: default;"></a>
                        <a style="pointer-events: none; cursor: default;"></a>
                        <a style="pointer-events: none; cursor: default;"></a>
                        <a style="pointer-events: none; cursor: default;"></a>
                        <a style="pointer-events: none; cursor: default;"></a>
                        <a style="pointer-events: none; cursor: default;"></a>
                        <a style="pointer-events: none; cursor: default;"></a>
                        <a style="pointer-events: none; cursor: default;">Вы вошли как : <input value="Работник комплекса" readonly /></a>
                    </div>
                }
            }
        }
    </div>

    @RenderBody()
</body>
</html>
